<mat-drawer-container class="example-container" autosize>

  
    
    <mat-toolbar class="toolbar-background">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon >menu</mat-icon>
    </button>
    <span>Master Draw</span>
    <span class="example-spacer"></span>

    <form #signUpForm="ngForm" (ngSubmit)="handleRegister(signUpForm.value)">

      <input
        placeholder="Name"
        name="name"
        type="text"
        ngModel
      >
      
      <input
        placeholder="Email"
        name="email"
        type="email"
        ngModel
      >

      <input
        placeholder="Password"
        name="password"
        type="password"
        ngModel
      >

      <button>Sign Up</button>

    </form>

    <form #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm.value)">

      <input
        placeholder="Email"
        name="email"
        type="email"
        ngModel
      >

      <input
        placeholder="Password"
        name="password"
        type="password"
        ngModel
      >

      <button>Login</button>

    </form>
    
    
    <mat-icon>dark_mode</mat-icon>
    <mat-slide-toggle></mat-slide-toggle>
    <mat-icon>light_mode</mat-icon>
   
    </mat-toolbar>

    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Completed Studies
      </button>
    </mat-drawer>
        

    <section>
      <div class="example-button-row">
        <button mat-stroked-button routerLink="/leonardo-images" routerLinkActive="active" ariaCurrentWhenActive="page">Leonardo Da Vinci</button>
        <button mat-stroked-button routerLink="/rembrandt-images" routerLinkActive="active" ariaCurrentWhenActive="page">Rembrandt</button>
      </div>
    </section>

    <ul>
      <li *ngFor="let item of data">
        {{item.email}}
        {{item.name}}
        {{item.password}}
      </li>
    </ul>

    <router-outlet></router-outlet>

  </mat-drawer-container>


